

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);



  h1 {
  	font-family: 'Oswald', cursive;
    color: #fff;
    font-size: 60px;
    text-align: center;
    padding-bottom:0;
    margin-bottom:0;
    margin-top: 1px;
}

  h4 {
  	font-family: 'Open Sans', cursive;
    color: #fff;
    font-size: 35px;
    text-align: center;
    padding-bottom:0;
    margin-bottom:0;
    margin-top: 1.5px;
}


#space{
margin-top:0;
	padding-top: 0;
}
